<h1><%= @dataset.dataset_name %></h1>



<div class="col-md-8 col-md-offset-2">

  <p>
	  <strong>Dataset link:</strong>
		<% if @dataset.doi_dataset.present? %>
	  	<%= link_to @dataset.doi_dataset, "" + @dataset.doi_dataset, :target => "_blank" %>
		<% else %>
      <span class="label label-warning">not added</span>
		<% end %>
	</p>

  <p>
	  <strong>Reference link:</strong>
		<% if @dataset.doi_reference.present? %>
	  	<%= link_to @dataset.doi_reference, "" + @dataset.doi_reference, :target => "_blank" %>
		<% else %>
      <span class="label label-warning">not added</span>
		<% end %>
	</p>

  <p>
	  <strong>Contributor:</strong>
		<% if @dataset.user.present? %>
	  	<%= link_to "#{@dataset.user.first_name} #{@dataset.user.last_name}", user_path(@dataset.user) %>
		<% else %>
			No record
		<% end %>
	</p>

  <p>
    <strong>Brief description:</strong>
    <% if @dataset.description.present? %>
      <%= @dataset.description %>
    <% else %>
      <span class="label label-warning">not added</span>
    <% end %>
  </p>


  <p>
    <strong>Terms of use:</strong>
    <% if @dataset.license.present? %>
      <%= @dataset.license %>
    <% else %>
      <span class="label label-warning">not added</span>
    <% end %>
  </p>

  <p>
    <strong>Taxonomic group:</strong>
    <% if @dataset.taxonomic_group.present? %>
      <%= @dataset.taxonomic_group %>
    <% else %>
      <span class="label label-warning">not added</span>
    <% end %>
  </p>

  <p>
    <strong>Taxa:</strong>
    <% if @dataset.taxa.present? %>
      <% @dataset.taxa.each do |taxon| %>
        <%= link_to taxon.taxon_name, taxon_path(taxon), class: "label label-default" %>
      <% end %>
    <% else %>
      <span class="label label-warning">not added</span>
    <% end %>
  </p>

  <p>
    <strong>Traits:</strong>
    <% if @dataset.traits.present? %>
      <% @dataset.traits.each do |trait| %>
        <%= link_to trait.trait_name, trait_path(trait), class: "label label-default" %>
      <% end %>
    <% else %>
      <span class="label label-warning">not added</span>
    <% end %>
  </p>

  <p>
    <div class="btn-group">
      <%= link_to 'Back', datasets_path, class: "btn btn-xs btn-default" %>
      <% if logged_in? && current_user?(@dataset.user) %>
        <%= link_to 'Edit', edit_dataset_path(@dataset), class: "btn btn-xs btn-default" %>
      <% end %>
    </div>
  </p>

</div>
