<h1><%= @trait.trait_name %></h1>

<div class="col-md-8 col-md-offset-2">

  <p>
    <strong>Trait GUID:</strong>
    <%= @trait.trait_guid %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @trait.description %>
  </p>

  <p>
    <strong>Dataset:</strong>
    <% if @trait.dataset.present? %>
      <%= link_to @trait.dataset.id, dataset_path(@trait.dataset) %>
    <% else %>
      <span class="label label-danger">not added</span>
    <% end %>
  </p>

  <p>
    <div class="btn-group">
      <%= link_to 'Back', traits_path, class: "btn btn-xs btn-default" %>
      <% if logged_in? && current_user.admin? || current_user?(@trait.dataset.user) %>
        <%= link_to 'Edit', edit_trait_path(@trait), class: "btn btn-xs btn-default" %>
      <% end %>
    </div>
  </p>

</div>
