<% provide(:title, @user.first_name) %>

<h1>
  <%= @user.first_name %> <%= @user.last_name %>
</h1>


<div class="col-md-8 col-md-offset-2">

  <p>
    <strong>Institution:</strong>
    <%= @user.institution %>
  </p>

  <p>
		<strong>Email:</strong>
		<% if @user.email.present? %>
			<%= mail_to @user.email, @user.email, {:subject => "Trait Registry data enquiry"} %>
		<% end %>
	</p>

  <p>
	  <strong>ORCID:</strong>
		<% if @user.orcid.present? %>
	  	<%= link_to @user.orcid, "https://orcid.org/" + @user.orcid, :target => "_blank" %>
		<% else %>
      <span class="label label-danger">not added</span>
		<% end %>
	</p>

  <p>
    <strong>Datasets:</strong>
    <% if @user.datasets.present? %>

      <ul class="list-group">
        <%= render @user.datasets %>
      </ul>

    <% else %>
      <span class="label label-danger">none</span>
    <% end %>
  </p>

  <% if current_user.admin? && !current_user?(@user) %>
    <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" }, class: "btn  btn-xs btn-danger pull-right" %>
  <% end %>

  <%= link_to 'Back', users_path %>

</div>
