<h1>Taxon: <%= @taxon.taxon_name %></h1>

<div class="col-md-8 col-md-offset-2">

  <p>
    <strong>Taxon GUID:</strong>
    <% if @taxon.taxon_guid.present? %>
      <%= @taxon.taxon_guid %>
    <% else %>
      <span class="label label-warning">not added</span>
    <% end %>
  </p>

  <p>
    <strong>Dataset:</strong>
    <% if @taxon.dataset.present? %>
      <%= link_to @taxon.dataset.id, dataset_path(@taxon.dataset), class: "label label-default" %>
    <% else %>
      <span class="label label-danger">not added</span>
    <% end %>
  </p>


  <p>
    <div class="btn-group">
      <%= link_to 'Back', taxa_path, class: "btn btn-xs btn-default" %>
      <% if logged_in? && current_user.admin? || current_user?(@taxon.dataset.user) %>
        <%= link_to 'Edit', edit_taxon_path(@taxon), class: "btn btn-xs btn-default" %>
      <% end %>
    </div>
  </p>

</div>
